:root {
  --rs-primary-50: #f2fbff;
  --rs-primary-100: #bddef0;
  --rs-primary-200: #8dc2e0;
  --rs-primary-300: #62a7d1;
  --rs-primary-400: #3c8cc2;
  --rs-primary-500: #1a73b2;
  --rs-primary-600: #136bad;
  --rs-primary-700: #0b5fa3;
  --rs-primary-800: #045194;
  --rs-primary-900: #004280;

  --swiper-theme-color: var(--rs-primary-500) !important;
  --swiper-navigation-color: transparent !important;
}

.rs-btn-icon-with-text.rs-btn-lg.rs-btn-icon-placement-left {
  padding: 10px 16px 10px 40px;
}

ul.mobile-navigation
  .rs-btn-icon-with-text.rs-btn-lg.rs-btn-icon-placement-left {
  padding: 10px 16px 10px 28px;
}

.testimanial-rewier-name {
  background: url("/assets/quote.png") no-repeat;
}
