:root {
  --rs-primary-50: #f2fbff;
  --rs-primary-100: #bddef0;
  --rs-primary-200: #8dc2e0;
  --rs-primary-300: #62a7d1;
  --rs-primary-400: #3c8cc2;
  --rs-primary-500: #1a73b2;
  --rs-primary-600: #136bad;
  --rs-primary-700: #0b5fa3;
  --rs-primary-800: #045194;
  --rs-primary-900: #004280;

  --swiper-theme-color: var(--rs-primary-500) !important;
  --swiper-navigation-color: transparent !important;

  --ra-dark: rgb(24, 24, 24);
  --ra-dark-hover: rgb(16, 16, 16);

  --rs-btn-default-bg: var(--ra-dark) !important;
  --rs-btn-default-text: rgb(225, 225, 225) !important;
  --rs-btn-default-hover-bg: var(--ra-dark-hover) !important;
  --rs-btn-default-active-bg: var(--ra-dark) !important;
  --rs-iconbtn-pressed-addon: rgba(255, 255, 255, 0.138) !important;
  --rs-btn-default-active-text: rgb(225, 225, 225) !important;
  /* --rs-btn-default-disabled-bg: red !important;
  --rs-btn-default-disabled-text: red !important; */
}
