:root {
  /* Color Palette */
  --primary: #318ebe;
  --darker-primary: #1873b0;
  --success: #31b0be;
  --whatsapp: #128c7e;
  --danger: #be316e;
  --warning: #9fa936;
  --gradient_prime: linear-gradient(28deg, rgb(49 142 190 / 0.4) 0%, rgb(49 142 190 / 40%) 41%, rgb(49 176 190 / 0.4) 100%);
  --gradient_sec: linear-gradient(28deg, rgb(49 78 190 / 40%) 0%, rgb(49 109 190 / 40%) 41%, rgb(49 176 190 / 55%) 100%);
  --dark_gradient: linear-gradient(0deg, rgb(0 0 0 / 37%), 18%, transparent 62%);
  --text-color: #444444;
  --border-color: #cccbcb;
  --bg-color: #f9f9f9;
  --light: #ffffff;
  --faded-light: rgb(250, 250, 250, 0.7);
  --faded-dark: rgb(0, 0, 0, 0.2);
  --light-gray: #f8f8f8;
  --lighter-gray: #f9f9f9;
  --gray: #f0f0f0;
  --darkgray: #e8e8e8;
  --dark: #545454;
  --darker: #1e1e1e;

  /* Social media */
  --google: #db4437;
  --facebook: #4267b2;

  /* Dimension */
  --radius: 0.4rem;
  --gap: 1rem;
  --shadow: 0 5px 3px -4px rgba(0, 0, 0, 0.25);
  --padding: 2rem;
  --margin: 2rem;
  --transition: 0.04s ease;
  --blur: blur(6px);
  --btn-shadow: inset 0 -10px 6px -12px rgb(0 0 0 / 59%);

  /* Typography */
  --serif: "Bree Serif", serif;
  --sans: Poppins, serif;
  --font-size: 1.4rem;
  --line-height: 1.5;

  /* Aspect Ratio */
  --aspect-ratio43: 4/3;
  --aspect-ratio169: 16/9;
}
